$backColor: rgb(8, 16, 24);
$borderColor: rgb(30, 40, 50);
$brandColor: rgb(235, 245, 255);

$fontColor: rgb(225, 240, 255);
$fontLiteColor: rgba(108, 126, 144, 1);
$fontFamily: Consolas, monospace;
$fontSize: 13px;

$linkColor: rgb(30, 159, 245);
$linkHoverColor: rgba(235, 245, 255, .9);

$contentWidth: 700px;

$dangerColor: rgb(214, 69, 65);